@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(241, 238, 238);
  height: 46vh;
  display: flex;
  flex-direction: column;
}

.container h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px 8px;
}

.container p {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 8px;
  margin-bottom: 2rem;
}

/* label {
  flex-direction: column;
} */

#memeOutput {
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  border-radius: 5px;
  display: none;
}

.top {
  z-index: 20;
  position: absolute;
  color: magenta;
  top: 480px;
}

.bottom {
  z-index: 20;
  position: absolute;
  color: magenta;
  bottom: 115px;
  left: 688px;
}

.memeImg {
  /* position: relative; */
  /* z-index: 10; */
  /* width: 30%; */
  /* height: 100%; */
  object-fit: fil;
  border-radius: 20px;
  border: 2px solid red;
}

.meme-generator {
  display: flex;
  flex-direction: column;
  margin: 0.7rem auto;
  width: 80%;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.meme-generator label {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

label input {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}

.meme-generator button {
  width: 10%;
  /* display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column; */
  /* margin-left: 56rem; */
  padding: 0.5rem;
  border-radius: 5px;
  color: #f8f8fa;
  font-family: 'Poppins', sans-serif;
  background-color: #1088d8;
  border: none;
  cursor: pointer;
}
