@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: rgb(241, 238, 238);
  height: 50vh;
}

.container h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px 8px;
}

.container p {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 8px;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  gap: 10rem;
  justify-content: end;
  margin-right: 5rem;
}

input {
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  margin-left: 1rem;
}

button {
  align-self: flex-end;
  margin-right: 5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #f8f8fa;
  background-color: #1088d8;
  border: none;
  cursor: pointer;
}
